# Python
*.pyc
__pycache__/
env/
*.sqlite3

# Django
*.log
local_settings.py
db.sqlite3
./backend/backend_project/settings.py

# Node/Angular
node_modules/
dist/
.angular/
.env

# System
.DS_Store
*.swp
