.custom-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.custom-table th,
.custom-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.custom-table th {
  background-color: #deddec;
  color: #fff;
}
.spreadsheet-wrapper {
  padding: 1rem;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.action-buttons {
  margin-top: 1rem;
  text-align: right;
}

/* Custom Scrollbar */
.scrollbar-thin::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #7d7474; /* Tailwind slate-300 */
  border: none;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: none;
}
