<main class="container mx-auto my-5">
  <h1 class="text-3xl font-semibold">Select Outer Filters for the Report</h1>

  <div *ngIf="templateId" class="my-3">
    <div class="card flex justify-center-center gap-6 my-3">
      <div *ngFor="let item of reportData">
        <label class="font-bold mb-2 flex items-center gap-3">
          {{ item.filter_label }}
          <span *ngIf="item.is_compulsory" class="text-red-600">*</span>
        </label>

        <p-autocomplete
          [(ngModel)]="dropdownValues[item.filter_name]"
          [dropdown]="true"
          [suggestions]="filteredOptions[item.filter_name]"
          (completeMethod)="filterSuggestions($event, item.filter_name)"
          placeholder="Select a value"
          [forceSelection]="false"
        />
      </div>
    </div>
  </div>

  <p-button label="Submit" (click)="createSubReport()" />
</main>
