<p-dialog
  draggable="false"
  [header]="
    reportTypeData.parent_report_name
      ? 'Create Template from : ' + reportTypeData.parent_report_name
      : templateTypeData.name
  "
  (onHide)="close()"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '50rem' }"
>
  <div *ngIf="data?.columns || data?.template; else noFields" class="">
    <div *ngIf="reportTypeData.columns && reportTypeData.columns.length > 0" class="flex gap-8">
      <div class="w-1/2 scrollbar-thin h-[50vh] overflow-auto">
        <h3 class="font-semibold mb-2">Report Columns</h3>
        <div *ngFor="let field of reportTypeData.columns" class="block">
          <label class="w-full flex items-center gap-4 my-2">
            <input
              class="h-[20px] w-[20px]"
              type="checkbox"
              [checked]="isSelected('create', field)"
              (change)="toggleField(field)"
            />
            {{ field.label }}
          </label>
        </div>
      </div>

      <div class="w-1/2">
        <h3 class="font-semibold mb-2">Outer Filters</h3>
        <div
          *ngFor="let filter of reportTypeData.outer_filters; index as idx"
          class="block"
        >
          <label class="w-full flex items-center gap-4 my-2">
            <input
              class="h-[20px] w-[20px]"
              type="checkbox"
              [checked]="isFilterSelected('create', filter)"
              [disabled]="filter.exist_in_report"
            />
            {{ filter.filter_label }}
          </label>
        </div>
      </div>
    </div>

    <div class="flex gap-8" *ngIf="data?.template && data.template.length > 0">
      <div class="w-1/2 scrollbar-thin h-[50vh] overflow-auto">
        <h3 class="font-semibold mb-2">Report Columns</h3>
        <div
          *ngFor="let field of templateTypeData.parent_report.report_columns"
          class="block"
        >
          <label class="w-full flex items-center gap-4 my-2">
            <input
              class="h-[20px] w-[20px]"
              type="checkbox"
              [checked]="isSelected('edit', field)"
              (change)="toggleField(field)"
            />
            {{ field.label }}
          </label>
        </div>
      </div>
      <div class="w-1/2">
        <h3 class="font-semibold mb-2">Outer Filters</h3>
        <div
          *ngFor="let filter of templateTypeData.parent_report.report_filters; index as idx"
          class="block"
        >
          <label class="w-full flex items-center gap-4 my-2">
            <input
              class="h-[20px] w-[20px]"
              type="checkbox"
              [checked]="isFilterSelected('edit', filter)"
              [disabled]="filter.exist_in_report"
            />
            {{ filter.filter_label }}
          </label>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noFields>
    <p>No columns available.</p>
  </ng-template>

  <div class="flex items-center gap-4 my-4">
    <label for="Report Name">Report Name</label>
    <input type="text" pInputText [(ngModel)]="tempName" />
  </div>

  <p-button label="Submit" (click)="createUpdateTemplate(data)" />
</p-dialog>
