<p-dialog
  header="Select columns"
  (onHide)="close()"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '50rem' }"
>

  <div
    *ngIf="data?.columns || data?.template; else noFields"
    class="checkbox-grid"
  >
    <div class="checkbox-grid" *ngIf="data.columns && data.columns.length > 0">
      <div
        *ngFor="let field of data.columns"
        class="flex justify-center items-center"
      >
        <label class="w-full flex items-center gap-4">
          <input
            class="h-[20px] w-[20px]"
            type="checkbox"
            [checked]="isSelected('create',field)" 
            (change)="toggleField(field)"
          />
          {{ field.label }}
        </label>
      </div>
    </div>

    <div class="checkbox-grid" *ngIf="data?.template && data.template.length > 0">
      <div
        *ngFor="let field of data.parent_report.report_columns"
        class="flex justify-center items-center"
      >
        <label class="w-full flex items-center gap-4">
          <input
            class="h-[20px] w-[20px]"
            type="checkbox"
            [checked]="isSelected('edit',field.column_name)"
            (change)="toggleField(field)"
          />
          {{ field.label }}
        </label>
      </div>
    </div>
  </div>

  <ng-template #noFields>
    <p>No columns available.</p>
  </ng-template>

  <div class="flex items-center gap-4 my-4">
    <label for="Report Name">Report Name</label>
    <input type="text" pInputText [(ngModel)]="reportNameToUse" />
  </div>

  <p-button
    label="Submit"
    (click)="createUpdateTemplate(data)"
    />
</p-dialog>
