.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem 1.5rem;
  margin-top: 1rem;
}

.border-blue {
  border: 2px solid blue;
}

/* Custom Scrollbar */
.scrollbar-thin::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #4ade80; /* Tailwind slate-300 */
  border-radius: 6px;
  border:none;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color:none;
}
